/* square buttons */
.rec.rec-arrow {
    border-radius: 50%;
    background-color: #1d7cbb;
    color:white;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
    border-radius: 50%;
    background-color: #1d7cbb;
    color:white;
}
/* add custom outline on focused items */
.rec-carousel-item:focus {
    border-radius: 50%;
    box-shadow:  1px 1px #1d7cbb;
    color:white;
}
