.banner-area{
  /* background-image: url("../Banner/../../../Images/Banner/ban.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat; */
  background-color: #FDF6EC;
  background-blend-mode: darken, luminosity;
  color: #000000;
}
.banner-intro{
  padding: 50px 0;
  align-items: center;
}
.banner-intro .h3-color{
  color: #FFBA5C;
}
.banner-area h3{
  text-align: left;
  font-weight: bold;
  font-size: 3rem;
}

.banner-intro p{
  width: 75%;
  text-align: left;
  font-size: 18px;
}

.banner-intro .readBtn{
  background-color: black;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 15px;
  
}

.readBtn:hover{
  background-color: #0079ca;
}

@media only screen and (max-width: 575px) {
  .banner-intro{
      padding: 45px 15px;
  }

  .banner-intro h1{
      width: 90%;
      font-size: 24px;
  }

  .banner-intro p{
      width: 100%;
      font-size: 16px;
  }

  .banner-area{
      background-size: 100% 100%;
      background-attachment: unset;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
    .banner {
      background-image: url("../Banner/../../../Images/Banner/ban.jpg");
      width: 100%;
      height: 70vh;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      background-size: cover;
      position: relative;
    }
    .vertical-center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
    }
    .banner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      font-size: 4rem;
      color: white;
      font-style: italic;
    }
  } */

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  .banner {
    background-image: url("../Banner/../../../Images/Banner/ban.jpg");
    max-width: 100%;
    height: 50vh;
    background-size: cover;
    position: relative;
  }
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    font-size: 2rem;
    color: white;
    font-style: italic;
  }
} */

